:root {
    --color-principal: #FFC107; /* Ámbar */
    --color-texto: #000000; /* Negro */
    --color-secundario: #FDD835; /* Amarillo */
    --color-fondo: #FFFFFF; /* Blanco */
}

body {
    background-color: var(--color-fondo);
    color: var(--color-texto);
<<<<<<< HEAD
    font-family: Arial, sans-serif;
    text-align: justify;
=======
    font-family: "font-family: 'Times New Roman', serif;"; 
>>>>>>> 243cb1a1a891f0001cb3606889eda8938c6ce756
}

.navbar {
    background-color: var(--color-principal);
}

.navbar-brand span {
    color: var(--color-secundario); /* Amarillo */
}

.navbar .nav-link {
    color: var(--color-secundario); /* Amarillo */
    transition: color 0.3s ease;
}

.navbar .nav-link:hover {
    color: var(--color-texto); /* Negro al pasar el cursor */
}

.card {
    border: 1px solid var(--color-secundario);
}

.card-title {
    color: var(--color-principal);
}

.btn-primary {
    background-color: var(--color-secundario);
    border: none;
    color: var(--color-texto);
}

footer {
    background-color: var(--color-secundario);
    color: var(--color-fondo);
}
